.main {
  background: #ddc8c4;
  padding-bottom: 20px;
}
nav {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

nav a {
  color: #eff9f0;
  /* border: 1px solid red; */
  text-decoration: none;
  background-color: #896a67;
  padding: 10px;
  margin: 5px;
  text-align: center;
  flex-basis: 40%;
  border-radius: 5px;
}
