nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav a {
  color: gold;
  border: 1px solid red;
  text-decoration: none;
  background-color: gray;
  padding: 10px;
  flex-basis: 100%;
}
