@import url("https://fonts.googleapis.com/css2?family=Cardo:wght@400;700&display=swap");

.spellCard {
  background-image: url("https://res.cloudinary.com/headincloud/image/upload/v1595635031/wand_o0eagt.png");
  opacity: 78%;
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.spellCard div p {
  background-color: rgba(236, 252, 236, 0.6);
  font-family: "Cardo", serif;
  font-weight: 700;
  font-size: 20px;
}
