@import url("https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap");

.header {
  text-align: center;
  padding: 30px 20px;
  background-image: url("./harryheader.png");
  background-position: center;
  background-size: cover;
}

.header h1 {
  font-family: "Berkshire Swash", cursive;
  /* color: rgb(250, 235, 195); */
  color: #eff9f0;
  font-size: 50px;
}

form {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.input {
  padding: 8px;
  border-radius: 10px 0 0 10px;
  max-width: 400px;
  width: 100%;
  border: none;
}

.search {
  background-color: #ddc8c4;
  padding: 8px 5px;
  border-radius: 0 10px 10px 0;
  border: none;
  background-image: url("./search.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 60%;
  min-width: 24px;
  cursor: pointer;
}
