@import url("https://fonts.googleapis.com/css2?family=Cardo:wght@400;700&display=swap");
.personCard {
  background-image: url("https://res.cloudinary.com/headincloud/image/upload/v1595635096/owl_e41ior.png");
  /* opacity: 78%; */
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.personCard div p {
  background-color: rgba(236, 252, 236, 0.6);
  font-family: "Cardo", serif;
  font-weight: 700;
  font-size: 20px;
}
